/*  Root es el elemento raiz para que todas las variables sean globales */

:root {
  /* Colores */
  --color-primary: rgb(34, 57, 61);
  --color-secondary: #fc0;
  --color-alternaive: #f0c;

  --color-background: linear-gradient(
    90deg,
    rgb(128, 123, 211) 0%,
    rgba(7, 99, 227, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
  --color-panel: #120455;

  --color-white: #fff;
  --color-black: #000;

  --color-focus-input: red;

  --color-error: hsl(0, 80%, 60%);
  --color-warning: hsl(60, 80%, 60%);
  --color-success: hsl(120, 80%, 60%);
}

/* Letras Y Tipografia */
:root {
  --font-family: Georgia, "Times New Roman", Times, serif;

  --font-normal: 300;
  --font-bold: 700;
}
/*  Alturas Y Anchos */
:root {
  --heigth-header: 5rem;
}

/* Z Index */
:root {
  --z-tooltip: 1;
  --z-fixed: 10;
  --z-max: 100;
  --z-max-max: 1000;
}


/* Reseteo de los estios por defecto */
/*  Busca Normalize */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: var(--font-family);
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  outline: none;
  border: 2px solid #fff;
}

input:focus {
  border: 2px solid steelblue;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/*  Final del Reseteo */

/* Clases Generales */

/* Estilos de los botones */

/* [class*="button--"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  align-self: flex-end;
  color: rgb(14, 13, 13);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;

  transition: all 0.3s ease-in-out;
} */

.button--submit {
  border-radius: 0;
  height: 3.5rem;
  background: var(--color-background);
  width: 100%;
  display: inline-block;
  margin: 1rem;
  border-radius: .4rem;
  color: var(--color-white);
  letter-spacing: 2px;
}

.button--submit:hover {
  background: var(--color-success);
}

.button--submit:active {
  transform: scale(.8);
}

.button--validate {
  border-radius: 5px;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button--close {
  position: absolute;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  right: 4rem;
  bottom: 4rem;
  z-index: var(--z-max-max);
}

.toggle-button {
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
  color: var(--color-white);
  background: none;
  transition: all 0.3s ease-in-out;
}

.toggle-button:hover {
  background-color: none;
  color: var(--color-black);
}

/* Posiciones */

/* Clase para fijar los elementos en la pantalla*/
.fixed {
  z-index: var(--z-fixed);
  position: fixed;
}

/* Errores Y Confirmaciones */
.notification {
  /* position: absolute; */
  opacity:1;
  overflow: visible;
}

.notification.active {
  transform: translateY(-100%);
  opacity: 0;
  overflow: hidden;
}

.alert {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.message {
  color: var(--color-white);
  font-size: 1em;
  width: 70%;
  text-align: center;
  font-weight: var(--font-bold);
  font-size: 1.3em;
  line-height: 2;
  transition: all .3s ease-in-out;
  margin-bottom: 1rem;
}

.message p {
  margin: 0;
}

.message.error {
  border: 1px solid red;
}

.message.success {
  border:1px solid green;
}

.message.warning {
  border:1px solid var(--color-warning);
}

.message.error .close{
  background-color: var(--color-error);
}

.message.success .close{
  background-color: var(--color-success);
}

.message.warning .close{
  background-color: var(--color-warning);
}

.error {
  background-color: var(--color-error);
}
.success {
  background-color: var(--color-success);
}

.warning {
  background-color: var(--color-warning);
}

.disabled {
  background-color: #ccc;
}

.close {
  position: absolute;
  top:10%;
  right:-15px;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  font-weight: var(--font-bold);
  margin-right: 1rem;
  font-family: serif;
  color:var(--color-black)
}
.icon-x:hover {
  cursor: pointer;
}
/* Centrado */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Complementos */

/* Colores para los usuarios */
.container-colors {
  width: 100%;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.863);
  transition: height .4s;
  overflow: auto;
}

.arrow .container-colors {
  padding: 1rem;
}

.color {
  margin: 1rem;
  padding: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  /* sombras */
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.2);
}
.color:hover {
  cursor: pointer;
}
/* Loaders */

.loader-container {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="loader-"] {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 100%;
  height: 100%;
  border: solid 4px transparent;
  border-radius: 50%;
}

.loader-first {
  border-top-color: #0dac77;
  border-left-color: #0dac77;
  animation: loader-first 1.4s ease-in-out infinite;
}

.loader-second {
  border-top-color: #283fc3;
  border-left-color: #283fc3;
  animation: loader-second 1.2s linear infinite;
}

/* @keyframes loader-first {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader-second {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
} */
 
/* Evento Loader */

.contenedor_cargar{
   top: 0;
  left: 0;
  right: 0;
  bottom: 0; top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 240, 245, 0.9);
  height: 100vh;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

.carga{
  border: 15px solid #ccc;
  border-top-color: #5fdaff;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100px;
-webkit-animation: girar 1.5s linear infinite;
-o-animation: girar 1.5s linear infinite;
animation: girar 1.5s linear infinite;
}
 
/* @keyframes girar {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 
 */
/* Fin de evento loader */







/* Loaders FIN */

/* Estilos de la pagina principal Index */

.section {
  background-repeat: no-repeat;
  background-position: center center;
  background-position: center center;
  background-image:url('./img/fondo.jpg');
  background-size: cover;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container__form {
  border-radius: 5%;
  position: relative;
  width: 800px;
  height: 600px;
  /* background: var(--background-color); */
  /* sombras */
  -webkit-box-shadow: 3px -2px 27px 8px rgba(120,127,128,1);
  -moz-box-shadow: 3px -2px 27px 8px rgba(120,127,128,1);
  box-shadow: 3px -2px 27px 8px rgba(120,127,128,1);


  box-shadow: rgb(228, 116, 76);
  overflow: hidden;
}
.user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.img__box {
  /* position: relative; */
  /* width: 50%; */
  height: 100%;
  background: rgb(62, 176, 196);
  transition: 0.5s;
}

.img__box {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
.form__box {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

/* Clases del formulario */

.form__login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.form__box {
  /* position: relative; */
  width: 50%;
  height: 100%;
  background: rgb(15, 13, 43);
  justify-content: center;
  padding: 40px;
  transition: 0.5s;
  /* border-radius: 5%; */
  display: flex;
}

.form__title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.Letrero {
  height: 25%;
  width: 100%;
  background: #0d6b96;
  padding: 0px;
  border: none;
  /* box-shadow: 10px 0px 0px rgba(27, 26, 26, 0.2); */

  border-radius: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: bisque;

  background-color: #0d6b96;

  /* centrado  */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.olvido {
  color: aliceblue;
}

.form__input {
  position: relative;
  width: 100%;
  padding: 10px;
  color: rgb(13, 12, 80);
  margin: 0.5em 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: var(--font-normal);
  display: inline-block;
}
.form__submit {
  width: 100%;
  background: #0d6b96;
  padding: 10px;
  border: none;
  border-radius: 25px;

  align-self: flex-end;
  color: rgb(14, 13, 13);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 0.5em;
  /* Efecto */
  transition: all 0.3s ease-in-out;
}

.form__remember {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  /* color: aliceblue; */
}

.form__link {
  color: #0ff;
}

.form__link:hover {
  text-decoration: underline;
}


.label__title {
  margin: 0.5rem;
  color: red;
  font-weight: var(--font-bold);
}

.preview.active {
  width: 100%;
  height: 100vh;
  background-color: red;
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-max);
}

/* Creacion de la ventana modal */

.modal {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-max);
  transition: all 0.3s ease-in-out;
  transform: translate(0, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.active {
  transform: translate(0, 0);
}
.modal-content {
  background-color: var(--color-white);
  width: 700px;
  position: relative;
  padding: 2rem 1rem;
  border-radius: 10px;
}

.form__modal {
  text-align: center;
  padding: 0.5rem;
  width: 700px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  border: 1px solid green;
}
.form__modal-input {
  margin: 0.5rem;
  padding: 0.5rem;
}

.form__data {
  position: relative;
}

.form__data:nth-child(1) {
  grid-template-columns: 1/3;
  border: 1px solid red;
}

.form__data:nth-child(2) {
  grid-template-columns: 7/7;
  border: 1px solid cadetblue;
}

.form__modal img {
  display: block;
  width: 100%;
}

/* Creacion de la ventana modal FIN*/

/* Seccion del Home */
.home {
  margin-top: 5rem;
  align-self:flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 2rem;
  min-width: 70%;
}
.home__card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  /* border-radius: 10px; */
  
  /* sombras  */
  -webkit-box-shadow: 3px -2px 27px 8px rgb(170, 188, 190);
  -moz-box-shadow: 3px -2px 27px 8px rgb(209, 223, 224);
  box-shadow: 3px -2px 27px 8px rgb(179, 189, 190);

  transition: all 0.3s ease-in-out;
}

.home__card:hover {
  transform: scale(1.2);
}

.home__card:nth-child(1) {
  background-color: rgb(187, 160, 214);
}
.home__card:nth-child(2) {
  background-color: rgb(19, 53, 66);
}
.home__card:nth-child(3) {
  background-color: rgb(231, 231, 25);
}
.home__card:nth-child(4) {
  background-color: rgb(153, 51, 122);
}
.home__card:nth-child(5) {
  background-color: rgb(14, 41, 6);
}
.home__card:nth-child(6) {
  background-color: rgb(194, 146, 153);
}
.home__icon {
  display: flex;
  justify-content: space-between;
}
.home__link{
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: var(--font-normal);
  transition: color .3s ease-in-out;
}
.home__link:hover {  
  color: var(--color-black);
}
/* Seccion del Home FIN */


/* Seccion de La Tabla */
.title-table {
  margin: .5rem;
  font-weight: var(--font-bold);
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.container-table {
  min-width: 95%;
  margin-top: 1rem;
  align-self:center;
  background:var(--color-background);
  transition: background .6s ease-in-out;
  /* Sombra */

  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  align-self: flex-start;
  margin-bottom: 1rem;
  
}

.table-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.table-icon {
  color: var(--color-black);
  font-size: 1.2rem;
  transition: color .3s ease-in-out;
}
.table-icon:hover,
.table-link:hover {
  color: var(--color-white);
}
.table-actions {
  flex:0 0 calc(45% - 1rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.table-data__titles,
.table-data__info {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
  gap: .5rem;
  border-bottom: 1px solid #ccc;
  letter-spacing: 1px;
  font-weight: var(--font-bold);
}

.table-data__info:hover,
.table-data__info:nth-child(even):hover  {
  background: var(--color-success);
}

.table-data__info:nth-child(even)  {
  background: #aaa;
}
.table-data__info a {
  transition: color .3s ease-in-out;
}
.table-data__info a:hover {
  color:var(--color-white);
}
.table-data__title,
.table-data__content {
  color: var(--color-black);
  text-align: center;
  overflow: hidden;
}

.table-data__content {
  display: inline-block;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.table-data__info p {
  margin: 0;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.table-pages {
  flex: 0 0 calc(60% - 1rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.table-page {
  background: #ccc;
  display: inline-block;
  flex:1;
  text-align: center;
  padding: .5rem;
  border-radius: 10px;
  margin-right: 10px;
  color:var(--color-white);
  font-weight: var(--font-bold);
}

.table-page:last-of-type {
  margin-right: 0px;
}
.table-page:nth-child(even) {
  background: steelblue;
}
/* Seccion de La Tabla FIN*/

/* Seccion de Mediaqueryes 480px*/
@media screen and (max-width:480px) {
  .brand__link {
    display: none;
  }
  .menu__panel-box:nth-child(2) {
    display: none;
  }
  .panel {
    width: 100%;
  }
  .user_info .form__input.w50 {
    width: 100%;
  }
}

/* Seccion de Mediaqueryes 480px FIN*/

/* Seccion de Mediaqueryes 550px*/

@media screen and (max-width:550px) {
  .user_info .form__input.w50 {
    width: 100%;
  }  
}

/* Seccion de Mediaqueryes 550px FIN*/

/* Seccion de Mediaqueryes 768px*/

@media screen and (max-width:768px) {
  .brand__link {
    display: none;
  }
}

/* Seccion de Mediaqueryes 768px FIN*/